<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Productos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            Inventory System
        </a>

        <div>
            <a class="btn btn-outline-light" href="/products/new">
                Nuevo Producto
            </a>
        </div>

    </div>

</nav>

<div class="container mt-5">

    <h1 class="mb-4 text-center">
        Lista de Productos
    </h1>
    <form th:action="@{/products}" method="get"
        class="row mb-4">

        <div class="col-md-10">

            <input type="text"
                name="keyword"
                th:value="${keyword}"
                class="form-control"
                placeholder="Buscar producto...">

        </div>

        <div class="col-md-2 d-grid">

            <button type="submit"
                    class="btn btn-primary">
                Buscar
            </button>

        </div>

    </form>
    <table class="table table-bordered table-hover shadow">

        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>

        </thead>

        <tbody>

        <tr th:each="product : ${products}">

            <td th:text="${product.id}"></td>

            <td th:text="${product.name}"></td>

            <td th:text="${product.price}"></td>

            <td th:text="${product.stock}"></td>

            <td>

                <a th:href="@{/products/edit/{id}(id=${product.id})}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a th:href="@{/products/delete/{id}(id=${product.id})}"
                   class="btn btn-danger btn-sm">
                    Eliminar
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>